<div class="row">
  <h2>{{ title }}</h2>
  <button class="btn btn-info" [class.active]="filterBy === 'all'" (click)="filterBy='all'">All</button>
  <button class="btn btn-info" [class.active]="filterBy === 'boats'" (click)="filterBy='boats'">Boats</button>
  <button class="btn btn-info" [class.active]="filterBy === 'camping'" (click)="filterBy='camping'">Camping</button>
  <button class="btn btn-info" [class.active]="filterBy === 'library'" (click)="filterBy='library'">Library</button>
  <ul id="thumbnailsList">
    <li *ngFor="let img of (visiableImages | imageFilter:filterBy)">
      <a [routerLink]="['/image', img.id]">
      <img  class="img-responsive tn" 
        src="{{ img.url }}" alt="{{ img.caption }}">
      </a>
    </li>
  </ul>
</div>
